$cWhite: white;
$cBlack: black;
$cSubTitle: #53535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$sdiv: #08BDFF;
$mdiv: #47FF2F;
$wdiv: #FF58D9;
$cBlue: rgb(32, 155, 255);
$cPink: rgb(255, 58, 209);
$cYellow: rgb(255, 230, 8);





$Au: 'Audiowide';
$Sw: 'Sawarabi Mincho';
$Sg: 'Sawarabi Gothic';
$contentMaxWidth: 1070px;
$navHeight: 100px;