<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/site-logo.png">
    <meta name="author" content="日本セパタクロー協会">
    <meta name="description" content="第31回全日本セパタクロー選手権大会特設サイト 2020年セパタクロー競技、クラブ日本一決定戦。">
    <meta property="og:image" content="img/sepak_kv2020.jpg">
    <meta property="og:description" content="第31回全日本セパタクロー選手権大会特設サイト">
    <meta property="og:title" content="第31回全日本セパタクロー選手権大会">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第31回全日本セパタクロー選手権大会特設サイト</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <div id="app">
        <div class="container" id="top">
            <div id="loading" class="loading active">
                <div class="loadingText">Loading.....&nbsp;&nbsp;</div>
                <img class="loadingball" src="img/site-logo.png" alt="spball">
            </div>
            <a href="#top" id="btn-backtotop"><span class="arrow arrow_up"></span></a>
            <header>
                <div class="header_area wrapper"　id="header-top">
                    <div class="header_title">
                        <h1>ALL JAPAN<br>SEPAKTAKRAW<br>CHAMPIONSHIP</h1>
                    </div>
                    <nav　id="gloval-nav">
                        <ul class="header_nav_list">
                            <li class="header_nav_list_item"><a href="#News">News</a></li>
                            <li class="header_nav_list_item"><a href="#About">About</a></li>
                            <li class="header_nav_list_item"><a href="#Live">Live</a></li>
                            <li class="header_nav_list_item"><a href="#Schedule">Schedule</a></li>
                            <li class="header_nav_list_item"><a href="#Result">Match & Result</a></li>
                            <li class="header_nav_list_item"><a href="#Stadium">Stadium</a></li>
                            <li　class="header_nav_list_item"><a href="#top" onclick="confirmFunction1()">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-inner">
                    <button class="mobile-menu__btn">
                        <span>MENU</span>

                    </button>
                    <nav class="mobile-nav" >
                            <ul class="mobile-nav-list">
                                
                                <li><a href="#News">News</a></li>
                                <li><a href="#About">About</a></li>
                                <li><a href="#Live">Live</a></li>
                                <li><a href="#Schedule">Schedule</a></li>
                                <li><a href="#Result">Match & Result</a></li>
                                <li><a href="#Stadium">Stadium</a></li>
                                <!-- <li><a href="#Movie">Movie</a></li> -->
                                <li><a href="#top" onclick="confirmFunction1()">Contact</a></li>
                            </ul>
                    </nav>
                    <aside class="mobile-sns-icon">
                        <a href="https://www.youtube.com/channel/UCA-F-VcXBFzG7JUdXLyySOg" target="_blank" rel="noopener noreferrer"><img src="img/youtube.png" alt="Youtube" class="sns-item"></a>
                        <a href="https://www.facebook.com/SepakTakrawJapan/" target="_blank" rel="noopener noreferrer"><img src="img/facebook.png" alt="Facebook" class="sns-item"></a>
                        <a href="https://www.instagram.com/sepaktakraw_japan/" target="_blank" rel="noopener noreferrer"><img src="img/Instagram.png" alt="Instagram" class="sns-item"></a>
                        <a href="https://twitter.com/__jstaf" target="_blank" rel="noopener noreferrer"><img src="img/twitter.png" alt="Twitter" class="sns-item"></a>
                        <a href="http://jstaf.jp/" target="_blank" rel="noopener noreferrer"><img src="img/jastf.png" alt="JASTF" class="item"></a>
                    </aside>
                </div>
            </header>
            <div id="main-content">
                <aside class="side left">
                    <div class="side__inner">
                        <a href="http://jstaf.jp/" target="_blank" rel="noopener noreferrer"><img src="img/jastf.png" alt="JASTF" class="jstf-item"></a>
                    </div>
                </aside>
                <main>
                    <div class="main-area">
                        <div class="main_kv">
                            <img src="img/shunichi.png" alt="" class="main_kv_01 abl">
                            <img src="img/hirokazu.png" alt="" class="main_kv_02 abl">
                            <img src="img/toshitaka.png" alt="" class="main_kv_03 abl">
                            <img src="img/masuda.png" alt="" class="main_kv_04 abl">
                            <img src="img/takano.png" alt="" class="main_kv_05 abl">
                            <img src="img/okamoto.png" alt="" class="main_kv_06 abl">
                            <img src="img/sato.png" alt="" class="main_kv_07 abl">
                            <img src="img/yumi.png" alt="" class="main_kv_08 abl">
                            <img src="img/naoko.png" alt="" class="main_kv_09 abl">
                        </div>
                        <div class="sttl">
                            <h2 class="sttl_text catch_cp">Who is the 2020 Champion</h2>
                            <h3 class="sttl_text s2019">2019 Champion<br>A.S.WAKABA</h3>
                            <h3 class="sttl_text w2019">2019 Champion<br>TOKyO VErDy</h3>
                            <h3 class="sttl_text s2020">2020<br>Summer Champion<br>SC TOKYO</h3>
                        </div>
                    </div>
                    <section class="section-inner wrapper" id="News">
                        <h2 class="section-title mb-sm animationTarget">News</h2>
                        <div class="section-info animationTarget">
                            <div class="slide">
                                <div class="slide-item">
                                    <p class="slide-item-title sd">Super Division</p>
                                    <img class="slide-item-img" src="img/202012.S.jpg" alt="super">
                                    <div class="slide-item-info font-fmSg">
                                        <div class="slide-item-top">
                                            <h4 class="cm">優勝<span>SC TOKYO AXIS</span></h4>
                                            <p class="font-fmSg">（高野征也・岡本慧悟・増田稜・中塚智之）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="nd">準優勝<span>A.K.tippler AFJ</span></h4>
                                            <p class="font-fmSg">（市川遥太・水戸一希・堀江飛鳥）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>SC TOKYO wings</span></h4>
                                            <p class="font-fmSg">（玉置大嗣・白坂征弘・小谷駿太・鳥海大地）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>A.S.WAKABA A</span></h4>
                                            <p class="font-fmSg">（内藤利貴・田井優哉・小林裕和）</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item">
                                    <p class="slide-item-title md">Men’s Division</p>
                                    <img class="slide-item-img" src="img/202012.M.jpg" alt="super">
                                    <div class="slide-item-info font-fmSg">
                                        <div class="slide-item-top">
                                            <h4 class="cm">優勝<span>A.S.WAKABA C</span></h4>
                                            <p class="font-fmSg">（山口翔悟・渡部真識・高沢優人）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="nd">準優勝<span>横濱セパタクロークラブ</span></h4>
                                            <p class="font-fmSg">（須藤純・嶋田淳也・西田哲・山岸祐）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>湘南ベルマーレ B</span></h4>
                                            <p class="font-fmSg">（岡田良介・遠藤颯闘・鳥居昌弘）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>東京工業大学 A</span></h4>
                                            <p class="font-fmSg">（外山美春・永井翔一朗・和田義規）</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item">
                                    <p class="slide-item-title wd">Women’s Division</p>
                                    <img class="slide-item-img" src="img/202012.W.jpg" alt="super">
                                    <div class="slide-item-info font-fmSg">
                                        <div class="slide-item-top">
                                            <h4 class="cm">優勝<span>東京ヴェルディ A</span></h4>
                                            <p class="font-fmSg">（川又ゆうみ・太田直子・佐藤千夏）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="nd">準優勝<span>A.S.WAKABA a</span></h4>
                                            <p class="font-fmSg">（槙尾渚・三枝千夏・田中結理・前田裕美子）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>東京ヴェルディ B</span></h4>
                                            <p class="font-fmSg">（戸上佳代・小林千夏・青木沙和・山口のはら）</p>
                                        </div>
                                        <div class="slide-item-top">
                                            <h4 class="rd">3位<span>日本体育大学 a</span></h4>
                                            <p class="font-fmSg">（松本舞子・英わかば・平井帆香）</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <p style="color:white;margin-top: 10px;">各ディビジョンの入賞レグの代表者のみで撮影<br><span>photo TSUTOMU TAKASU</span></p>
                    </section>
                    <section class="section-inner wrapper" id="About">
                        <h2 class="section-title mb-sm animationTarget">About</h2>
                        <div class="section-info about animationTarget">
                            <div class="section-info-left">
                                <h3 class="section-subttl font-fmSg mb-sm">第31回<br>
                                    全日本セパタクロー選手権大会</h3>
                                <div class="section-text font-fmSg ">
                                    <p>主催：一般社団法人日本セパタクロー協会<br>
                                        協賛：Lib-Gate・SARAYA・世田谷自然食品<br>
                                        　　 &nbsp;&nbsp;B.V.D.・SVOLME・宝くじのビリオネア<br>
                                        協力：ANYTIME FITNESS・了徳寺大学<br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大会実行委員会<br>
                                        日時：2020年12月26日(土)・27日(日)<br>
                                        会場：駒沢オリンピック公園総合運動場<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;屋内球技場<br>
                                    </p>
                                    <p style="color: red;">
                                        本大会は無観客での開催となります。
                                    </p>
                                </div>
                            </div>
                            <div class="section-info-right">
                                <div class="kv">
                                    <img src="img/sepak_kv2020.jpg" alt="キービジュアル" class="mt-sm">
                                </div>
                            </div> 
                        </div> 
                    </section>
                    <section class="section-inner wrapper" id="Live">
                        <h2 class="section-title animationTarget">Live</h2>
                        <div class="live-info animationTarget">
                            <div class="live-info-left">
                                <div class="live-text">
                                    <h3 class="live-subttl">2020.12.27(Sun)</h3>
                                    <div class="live-text-item">
                                        <p class="live-text-item-m font-fmA">Men's Division Final<br><span>15：30</span><br><span style="color:white;">FaceBook Live</span></p><br>
                                        <p class="live-text-item-w font-fmA">Women's Division Final<br><span>16：30</span><br><span style="color:white;">YouTube Live</span></p><br>
                                        <p class="live-text-item-s font-fmA">Super Division Final<br><span>16：30</span><br><span style="color:white;">FaceBook Live</span></p>
                                        <!-- <p class="information">ライブ配信を予定しています。</p> -->
                                    </div>
                                        <br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="live-info-right">
                                <div class="live-img-pc">
                                    <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSepakTakrawJapan%2Fvideos%2F3931446923579120%2F&show_text=0&width=560" width="550" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
                                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSepakTakrawJapan%2Fvideos%2F3931446923579120%2F&width=500&show_text=false&height=281&appId" width="550" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                                    <br>
                                    <iframe width="550" height="340" src="https://www.youtube.com/embed/u7Pwv8Td-RE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="live-img-sp">
                                    <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSepakTakrawJapan%2Fvideos%2F3931446923579120%2F&show_text=0&width=100%" width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
                                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSepakTakrawJapan%2Fvideos%2F3931446923579120%2F&width=500&show_text=false&height=281&appId" width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                                    <br>
                                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/u7Pwv8Td-RE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                            </div> 
                        </div> 
                    </section>
                    <section class="section-inner wrapper" id="Schedule">
                        <h2 class="section-title mb-sm animationTarget">Schedule</h2>
                        <div class="section-info schedule">
                            <div class="section-info-left">
                                <h3 class="section-subttl font-gd animationTarget">2020.12.26(Sat)</h3>
                                <div class="section-img font-fmSg">
                                    <img class="pc animationTarget" src="img/pc-day1_1.png" alt="キービジュアル">
                                    <img class="pc animationTarget" src="img/pc-day1_2.png" alt="キービジュアル">
                                    <img class="pc animationTarget" src="img/pc-day1_3.png" alt="キービジュアル">
                                    <img class="pc animationTarget" src="img/pc-day1_4.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_1.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_2.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_3.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_4.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_5.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_6.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_7.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day1_8.png" alt="キービジュアル">
                                </div>
                            </div>
                            <br>
                            <div class="section-info-right">
                                <h3 class="section-subttl font-gd mt animationTarget">2020.12.27(Sun)</h3>
                                <div class="section-img font-fmSg">
                                    <img class="pc animationTarget" src="img/pc-day2_1.png" alt="キービジュアル">
                                    <img class="pc animationTarget" src="img/pc-day2_2.png" alt="キービジュアル">
                                    <img class="pc animationTarget" src="img/pc-day2_3.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_1.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_2.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_3.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_4.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_5.png" alt="キービジュアル">
                                    <img class="sp animationTarget" src="img/sp-day2_6.png" alt="キービジュアル">
                                </div>
                            </div> 
                        </div> 
                    </section>
                    <section class="section-inner wrapper" id="Result">
                        <h2 class="section-title mb-sm animationTarget">Match & Result</h2>
                            <div class="section-info match">
                                <h3 class="section-subttl-t font-gd mb-sm animationTarget">2020.12.26(Sun)</h3>
                                <h3 class="section-subttl cYellow mb-sm animationTarget">Super Division</h3>
                                <div class="section-group font-fmSg animationTarget">
                                    <div v-for=" g in groups_S " :key="g">
                                        <details>
                                        <summary>Group {{ g.groupName }}</summary>
                                            <table class="group">
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>{{ g.name1 }}</td>
                                                    <td>{{ g.name2 }}</td>
                                                    <td>{{ g.name3 }}</td>
                                                    <td>{{ g.rsl }}</td>        
                                                </tr>
                                                <tr>
                                                    <td>{{ g.name1 }}</td>
                                                    <td>&nbsp;</td>
                                                    <td>{{ g.scr11 }}<br>{{ g.scr12 }}</td>
                                                    <td>{{ g.scr21 }}<br>{{ g.scr22 }}</td>
                                                    <td>{{ g.rsl2 }}</td>        
                                                </tr>
                                                <tr>
                                                    <td>{{ g.name2 }}</td>
                                                    <td>{{ g.scr11.split('-').reverse().join('-') }}<br>{{ g.scr12.split('-').reverse().join('-') }}</td>
                                                    <td>&nbsp;</td>
                                                    <td>{{ g.scr31 }}<br>{{ g.scr32 }}</td>
                                                    <td>{{ g.rsl3 }}</td>        
                                                </tr>
                                                <tr>
                                                    <td>{{ g.name3 }}</td>
                                                    <td>{{ g.scr21.split('-').reverse().join('-') }}<br>{{ g.scr22.split('-').reverse().join('-') }}</td>
                                                    <td>{{ g.scr31.split('-').reverse().join('-') }}<br>{{ g.scr32.split('-').reverse().join('-') }}</td>
                                                    <td>&nbsp;</td>
                                                    <td>{{ g.rsl4 }}</td>        
                                                </tr>
                                            </table>
                                        </details>
                                    </div>
                                    <h4>A.S.WAKABA A 、SC TOKYO AXIS は予選免除</h4>
                                </div><br>
                                <h3 class="section-subttl cBlue mb-sm animationTarget">Men's Division</h3>
                                <div class="section-group font-fmSg animationTarget">
                                    <div v-for=" g in groups_M " :key="g">
                                        <details>
                                        <summary>Group {{ g.groupName }}</summary>
                                        <table class="group">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>{{ g.name1 }}</td>
                                                <td>{{ g.name2 }}</td>
                                                <td>{{ g.name3 }}</td>
                                                <td>{{ g.rsl }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name1 }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.scr11 }}<br>{{ g.scr12 }}</td>
                                                <td>{{ g.scr21 }}<br>{{ g.scr22 }}</td>
                                                <td>{{ g.rsl2 }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name2 }}</td>
                                                <td>{{ g.scr11.split('-').reverse().join('-') }}<br>{{ g.scr12.split('-').reverse().join('-') }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.scr31 }}<br>{{ g.scr32 }}</td>
                                                <td>{{ g.rsl3 }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name3 }}</td>
                                                <td>{{ g.scr21.split('-').reverse().join('-') }}<br>{{ g.scr22.split('-').reverse().join('-') }}</td>
                                                <td>{{ g.scr31.split('-').reverse().join('-') }}<br>{{ g.scr32.split('-').reverse().join('-') }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.rsl4 }}</td>        
                                            </tr>
                                        </table>
                                        </details>
                                    </div>
                                </div><br>
                                <h3 class="section-subttl cPink mb-sm animationTarget">Women's Division</h3>
                                <div class="section-group font-fmSg animationTarget">
                                    <div v-for=" g in groups_W " :key="g">
                                        <details>
                                        <summary>Group {{ g.groupName }}</summary>
                                        <table class="group">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>{{ g.name1 }}</td>
                                                <td>{{ g.name2 }}</td>
                                                <td>{{ g.name3 }}</td>
                                                <td>{{ g.rsl }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name1 }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.scr11 }}<br>{{ g.scr12 }}</td>
                                                <td>{{ g.scr21 }}<br>{{ g.scr22 }}</td>
                                                <td>{{ g.rsl2 }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name2 }}</td>
                                                <td>{{ g.scr11.split('-').reverse().join('-') }}<br>{{ g.scr12.split('-').reverse().join('-') }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.scr31 }}<br>{{ g.scr32 }}</td>
                                                <td>{{ g.rsl3 }}</td>        
                                            </tr>
                                            <tr>
                                                <td>{{ g.name3 }}</td>
                                                <td>{{ g.scr21.split('-').reverse().join('-') }}<br>{{ g.scr22.split('-').reverse().join('-') }}</td>
                                                <td>{{ g.scr31.split('-').reverse().join('-') }}<br>{{ g.scr32.split('-').reverse().join('-') }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ g.rsl4 }}</td>        
                                            </tr>
                                        </table>
                                        </details>
                                    </div>
                                    <h4>TOKYO ヴェルディA 、A.S.WAKABA b は予選免除</h4>
                                </div>
                                <br>
                                <h3 class="section-subttl-t font-gd mb-sm animationTarget">2020.12.27(Sun)</h3>
                                <div class="macth-info">
                                    <div class="match-info">
                                        <h3 class="section-subttl mb-sm cYellow animationTarget">Super Division</h3>
                                        <img src="img/tornament_Sdiv.png" alt="" class="mb-sm animationTarget">
                                    </div>
                                    <div class="match-info">
                                        <h3 class="section-subttl mb-sm cBlue animationTarget">Men’s Division</h3>
                                        <img src="img/tornament_Mdiv.png" alt="" class="mb-sm animationTarget">
                                    </div>
                                    <div class="match-info">
                                        <h3 class="section-subttl mb-sm cPink animationTarget">Women’s Division</h3>
                                        <img src="img/tornament_Wdiv.png" alt="" class="mb-sm animationTarget">
                                    </div>
                                </div> 
                            </div>
                    </section>
                    <section class="section-inner wrapper animationTarget" id="Stadium">
                        <h2 class="section-title mb-sm animationTarget">Stadium</h2>
                        <div class="section-info animationTarget">
                            <div class="section-info-left">
                                <h3 class="section-subttl  stadium font-fmSg mb-sm">駒沢オリンピック公園総合運動場<br>屋内球技場</h3>
                                <div class="section-adress font-fmSg">
                                    <h4>〒154-0013<br>
                                        東京都世田谷区駒沢公園１−１</h4>
                                    <p>【東急田園都市線】<br>
                                        &nbsp;&nbsp;駒沢大学駅下車徒歩15分</p>
                                </div>
                            </div>
                            <div class="section-info-right">
                                <div class="gmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1621.5920507939272!2d139.66214047974807!3d35.62318768757361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f4edb3bfac4f%3A0xbb3f718555cc5fb9!2z44CSMTU0LTAwMTMg5p2x5Lqs6YO95LiW55Sw6LC35Yy66aeS5rKi5YWs5ZyS77yRIOWxi-WGheeQg-aKgOWgtA!5e0!3m2!1sja!2sjp!4v1606744527535!5m2!1sja!2sjp" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div> 
                        </div> 
                    </section>
                    <div id="Sponsor">
                        <div class="sponsor wrapper ">
                                <h2 class="section-title animationTarget">Sponsor</h2>
                        </div>
                        <div class="sponsor-logo wrapper">
                            <a href="https://lib-gate.co.jp/" target="_blank"><img src="img/libgate (1).png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="https://www.saraya.com/" target="_blank"><img src="img/saraya_2.png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="https://www.shizensyokuhin.jp/" target="_blank"><img src="img/setagaya_logo_2.png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="https://www.svolme.net/" target="_blank"><img src="img/svolme_2.png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="https://www.bvd.jp/" target="_blank"><img src="img/BVD_2.png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="http://billionaire.co.jp/index.html" target="_blank"><img src="img/billionaire.png" alt="" class="sponsor-item animationTarget"></a>
                            <a href="https://www.anytimefitness.co.jp/" target="_blank"><img src="img/anytime_2.png" alt="" class="sponsor-item animationTarget"></a>
                        </div>
                    </div>
                </main>
                <aside class="side right">
                    <div class="side__inner">
                        <a href="https://www.youtube.com/channel/UCA-F-VcXBFzG7JUdXLyySOg" target="_blank" rel="noopener noreferrer"><img src="img/youtube.png" alt="Youtube" class="sns-item"></a>
                        <a href="https://www.facebook.com/SepakTakrawJapan/" target="_blank" rel="noopener noreferrer"><img src="img/facebook.png" alt="Facebook" class="sns-item"></a>
                        <a href="https://www.instagram.com/sepaktakraw_japan/" target="_blank" rel="noopener noreferrer"><img src="img/Instagram.png" alt="Instagram" class="sns-item"></a>
                        <a href="https://twitter.com/__jstaf" target="_blank" rel="noopener noreferrer"><img src="img/twitter.png" alt="Twitter" class="sns-item"></a>
                    </div>
                </aside>
            </div>
            <footer id="footer">
                <div class="wrapper">
                    <small>&copy;&nbsp;JAPAN SEPAKTAKRAW FEDERATION</small>
                </div>
            </footer>
        </div>
    </div>
    <script src="scripts/libs/loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="main_vue.js"></script>
    <script src="scripts/libs/anime.js"></script>
    <script src="scripts/libs/text-animation.js"></script>
    <script src="scripts/libs/mobile-menu.js"></script>
    <script src="scripts/libs/smoothScroll.js"></script>
    <script src="scripts/libs/confirm.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>