@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}

.btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: -1;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: white;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}

.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
}

.btn-cubic .hovering {
  background-color: black;
  color: white;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btn-cubic .default {
  background-color: white;
  color: black;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.animationTarget {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 1s;
  transition: 1s;
}

.animationTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.animationTarget.sponsor-logo a img {
  -webkit-transition: 1s .5s;
  transition: 1s .5s;
}

@-webkit-keyframes showTextFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showTextFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}

.textAnimation span {
  display: inline-block;
  -webkit-animation: showText .5s backwards;
          animation: showText .5s backwards;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 100;
}

.mobile-menu__btn {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  z-index: 20;
}

.mobile-menu__btn > span {
  color: orange;
}

.mobile-menu__btn > span:before {
  content: "";
  display: block;
  margin-bottom: 2px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  background-image: url(../img/site-logo.png);
  background-size: cover;
  width: 30px;
  height: 30px;
}

.mobile-inner {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: rgba(5, 34, 8, 0.8);
  z-index: 50;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.mobile-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 50px;
  right: 15px;
}

.mobile-nav-list li {
  margin-bottom: 5px;
}

.mobile-nav-list a {
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 300px;
  margin-top: 60px;
}

.mobile-sns-icon a {
  display: inline-block;
  margin: 10px;
}

.mobile-sns-icon a .sns-item {
  width: 80px;
}

.mobile-sns-icon a .item {
  width: 100%;
}

.menu-open .mobile-inner {
  top: 0;
  right: 0px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-open .mobile-menu__cover {
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.sd {
  color: #08BDFF;
}

.md {
  color: #47FF2F;
}

.wd {
  color: #FF58D9;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: "";
}

.modal-wrapper .modal-window {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  vertical-align: middle;
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Audiowide","Sawarabi Mincho", 'PT Serif', "Kameron", "Noto Sans JP", sans-serif;
  background: #02001c;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #001b27), color-stop(50%, #003001), color-stop(79%, #2b0000), to(#160000));
  background: linear-gradient(90deg, #001b27 21%, #003001 50%, #2b0000 79%, #160000 100%);
  padding: 0;
  margin: 0;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.font-fmA {
  font-family: "Audiowide";
}

.font-fmS {
  font-family: "Sawarabi Mincho";
}

.font-fmSg {
  font-family: "Sawarabi Gothic";
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.font-gd {
  font-size: 1.3rem;
  color: white;
}

.mt-sm {
  margin-top: 10px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-lg {
  margin-bottom: 80px;
}

.mt {
  margin-top: 30px;
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 80px;
}

.cBlue {
  color: #209bff !important;
}

.cPink {
  color: #ff3ad1 !important;
}

.cYellow {
  color: #ffe608 !important;
}

/* ========================================================
矢印アイコン
=========================================================*/
.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: black;
  vertical-align: middle;
  text-decoration: none;
}

.arrow::after, .arrow::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  vertical-align: middle;
}

.arrow_down::before,
.arrow_up::before {
  top: auto;
  left: auto;
  bottom: 8px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* ========================================================
ページトップに戻るボタン
=========================================================*/
#btn-backtotop {
  position: fixed;
  bottom: 50px;
  right: 5px;
  z-index: 1000;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out;
  opacity: 0;
  display: none;
}

#btn-backtotop.toTop {
  opacity: 1;
  display: block;
}

#btn-backtotop:hover {
  opacity: .8;
  bottom: 50px;
}

#btn-backtotop:hover::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#btn-backtotop::after {
  content: "";
  display: block;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 8px;
  background-color: #c212b9;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#btn-backtotop .arrow {
  top: 49px;
  left: 1px;
}

#btn-backtotop .arrow::before {
  width: 10px;
  height: 10px;
  z-index: 1;
}

header {
  position: relative;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loading img {
  width: 50px;
}

.loading.active {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes flashing {
  50% {
    opacity: .5;
  }
}

@keyframes flashing {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes roolling {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roolling {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loadingText {
  -webkit-animation: flashing .5s infinite;
          animation: flashing .5s infinite;
  color: #2dbe39;
}

.loadingball {
  -webkit-animation: roolling 1s ease-in-out infinite;
          animation: roolling 1s ease-in-out infinite;
}

.header_area {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 50;
}

.header_area nav {
  position: fixed;
}

.header_title {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-family: "Audiowide";
}

.header_nav_list {
  display: none;
  width: 650px;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
}

.header_nav_list_item {
  height: 100%;
}

.header_nav_list_item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 1.7rem;
  color: aqua;
  font-family: "Audiowide";
  cursor: pointer;
}

.abl {
  position: absolute;
}

.main-area {
  height: 91vh;
}

.main_kv {
  position: relative;
  height: calc(560 / 414 * 100vw);
  display: block;
}

.main_kv_01 {
  top: calc(448 / 414 * 100vw);
  right: calc(0 / 414 * 100vw);
  width: 66%;
  opacity: 0;
  z-index: 5;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_02 {
  top: calc(480 / 414 * 100vw);
  left: calc(-10 / 414 * 100vw);
  width: 56%;
  opacity: 0;
  z-index: 5;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_03 {
  top: calc(400 / 414 * 100vw);
  left: calc(12 / 414 * 100vw);
  width: 88%;
  opacity: 0;
  z-index: 21;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_04 {
  top: calc(12 / 414 * 100vw);
  left: calc(-220 / 414 * 100vw);
  width: 83%;
  opacity: 0;
  z-index: 4;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_05 {
  top: calc(-8 / 414 * 100vw);
  right: calc(9 / 414 * 100vw);
  width: 65%;
  opacity: 0;
  z-index: 6;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_06 {
  top: calc(0 / 414 * 100vw);
  left: calc(80 / 414 * 100vw);
  width: 67%;
  opacity: 0;
  z-index: 3;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_07 {
  top: calc(178 / 414 * 100vw);
  right: calc(0 / 414 * 100vw);
  width: 70%;
  opacity: 0;
  z-index: 6;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_08 {
  top: calc(180 / 414 * 100vw);
  left: calc(-130 / 414 * 100vw);
  width: 90%;
  opacity: 0;
  z-index: 5;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv_09 {
  top: calc(150 / 414 * 100vw);
  left: calc(10 / 414 * 100vw);
  width: 93%;
  opacity: 0;
  z-index: 20;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main_kv > img {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sttl_text {
  font-size: .8rem;
  color: white;
  font-family: "Audiowide";
  display: inline-block;
  text-align: center;
  z-index: 30;
  opacity: 0;
  position: absolute;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.sttl_text.catch_cp {
  width: 100%;
  font-size: 2.2em;
  color: #866e02;
  text-shadow: 2px 2px 1px white;
  top: calc(410 / 420 * 100vw);
  left: calc(207 / 414 * 100vw);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sttl_text.s2019 {
  top: calc(700 / 414 * 100vw);
  left: calc(260/ 414 * 100vw);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sttl_text.w2019 {
  top: calc(480 / 414 * 100vw);
  left: calc(10 / 414 * 100vw);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sttl_text.s2020 {
  top: calc(220 / 414 * 100vw);
  right: calc(10 / 414 * 100vw);
  line-height: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-inner {
  padding-top: 33px;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

.section-subttl {
  color: white;
  font-size: 1rem;
  margin-top: 5px;
}

.section-subttl-winner {
  font-size: 14px;
  color: red;
}

.section-text p {
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
}

.section-group h4 {
  font-size: 12px;
  color: white;
}

.section-adress {
  color: white;
  line-height: 30px;
}

.section-adress h3 {
  font-size: 1rem;
}

.section-adress p {
  font-size: 0.8rem;
  line-height: 25px;
}

.pc {
  display: none;
}

details {
  width: 100%;
  margin-bottom: 5px;
  overflow-x: auto;
}

details[open] .group {
  -webkit-animation: fadeIn_g 0.5s ease;
          animation: fadeIn_g 0.5s ease;
}

@-webkit-keyframes fadeIn_g {
  0% {
    opacity: 0;
    /* 透明 */
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    /* 上から表示 */
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeIn_g {
  0% {
    opacity: 0;
    /* 透明 */
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    /* 上から表示 */
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.group {
  border: 2px solid #aaa;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #aaa;
  width: 570px;
  table-layout: fixed;
}

.group th, .group td {
  padding: 5px 5px;
  vertical-align: middle;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  height: 40px;
}

.group th:last-child, .group td:last-child {
  border-right: none;
  width: 60px;
}

.group tr:last-child th, .group tr:last-child td {
  border-bottom: none;
}

.group td {
  background: #fff;
  font-weight: bold;
  font-size: 15px;
}

.live-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.live-subttl {
  font-family: "Audiowide";
  font-size: 1.3rem;
  color: white !important;
}

.live-img-pc {
  display: none;
}

.live-text-item {
  margin-top: 10px;
}

.live-text-item-m {
  font-size: 1.2rem;
  color: #209bff;
}

.live-text-item-m > span {
  color: white;
}

.live-text-item-w {
  font-size: 1.2rem;
  color: #ff3ad1;
}

.live-text-item-w > span {
  color: white;
}

.live-text-item-s {
  font-size: 1.2rem;
  color: #ffe608;
}

.live-text-item-s > span {
  color: white;
}

.live-text-item .information {
  color: red;
  font-weight: bold;
  font-size: 15px;
  font-family: "Sawarabi Gothic";
}

summary {
  background: red;
  cursor: pointer;
  padding: 12px;
  outline: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.tn {
  font-size: 13px;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#Sponsor {
  background: #fff;
  margin-top: 80px;
  padding-top: 20px;
  position: relative;
  z-index: 11;
}

.sponsor > h2 {
  color: red;
}

.sponsor-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.sponsor-logo a {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.sponsor-logo a:nth-child(4) {
  width: 180px;
}

.sponsor-logo a:nth-child(5) {
  width: 180px;
}

.sponsor-logo a:nth-child(7) {
  width: 250px;
  margin-bottom: 50px;
}

.sponsor-item {
  width: 100%;
  margin-top: 60px;
}

footer {
  height: 60px;
}

footer .wrapper {
  text-align: center;
}

footer small {
  color: white;
  font-size: 0.7rem;
  font-family: 'PT Serif';
  line-height: 60px;
}

.side {
  display: none;
  position: fixed;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.side a:hover {
  opacity: .8;
}

.side.left {
  left: -200px;
}

.side.left.invew {
  left: -70px;
}

.side.left .side__inner {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.side.right .side__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side.right .side__inner a {
  margin-top: 10px;
}

.slide {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
}

.slide-item {
  scroll-snap-align: center;
  white-space: normal;
  margin: 0 auto 30px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.slide-item:last-child {
  margin-bottom: 0;
}

.slide-item-title {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.slide-item-img {
  width: 400px;
}

.slide-item-info {
  color: black;
  font-size: 0.5rem;
  margin-top: 10px;
}

.slide-item-top h4 span {
  padding-left: 1.5em;
}

.slide-item-top p {
  text-indent: 9em;
}

.slide-item-top:nth-child(2) h4 span {
  padding-left: 1rem;
}

.slide-item-top:nth-child(3) h4 span {
  padding-left: 3rem;
}

.slide-item-top:nth-child(4) h4 span {
  padding-left: 3rem;
}

.cm {
  color: gold;
  font-size: 1.3rem;
  font-weight: bold;
}

.nd {
  color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.rd {
  color: #815a2b;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  /* ========================================================
ページトップに戻るボタン
=========================================================*/
  #btn-backtotop {
    bottom: 30px;
    right: 30px;
  }
  #btn-backtotop:hover {
    bottom: 34px;
  }
  #btn-backtotop:hover::after {
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  }
  #btn-backtotop::after {
    content: "";
    width: 80px;
    height: 80px;
  }
  #btn-backtotop .arrow {
    top: 78px;
    left: 12px;
  }
  #btn-backtotop .arrow::before {
    width: 30px;
    height: 30px;
  }
  .mobile-inner {
    display: none;
  }
  .header_area {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 50;
  }
  .header_area nav {
    position: fixed;
  }
  .header_title {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-family: "Audiowide";
  }
  .header_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 560px;
    height: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    list-style: none;
  }
  .header_nav_list_item a {
    font-size: 1rem;
  }
  .main-area {
    height: 400px;
  }
  .main_kv {
    position: relative;
    height: 400px;
    display: block;
  }
  .main_kv_01 {
    top: calc(100 / 660 * 100vw);
    left: calc(-130 / 660 * 100vw);
    width: 40%;
    opacity: 0;
    z-index: 5;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .main_kv_02 {
    top: calc(115 / 660 * 100vw);
    left: calc(80 / 660 * 100vw);
    width: 35%;
    opacity: 0;
    z-index: 6;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  .main_kv_03 {
    top: calc(10 / 660 * 100vw);
    left: calc(-20 / 660 * 100vw);
    width: 40%;
    opacity: 0;
    z-index: 4;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .main_kv_04 {
    top: calc(80 / 660 * 100vw);
    left: calc(340 / 660 * 100vw);
    width: 45%;
    opacity: 0;
    z-index: 5;
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
  .main_kv_05 {
    top: calc(100 / 660 * 100vw);
    right: calc(120 / 660 * 100vw);
    width: 40%;
    opacity: 0;
    z-index: 5;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .main_kv_06 {
    top: calc(-20 / 660 * 100vw);
    left: calc(430 / 660 * 100vw);
    width: 30%;
    opacity: 0;
    z-index: 3;
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
  }
  .main_kv_07 {
    top: calc(0 / 660 * 100vw);
    left: calc(200 / 660 * 100vw);
    width: 37%;
    opacity: 0;
    z-index: 5;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .main_kv_08 {
    top: calc(-25 / 660 * 100vw);
    left: calc(110 / 660 * 100vw);
    width: 40%;
    opacity: 0;
    z-index: 5;
    -webkit-animation-delay: 5.5s;
            animation-delay: 5.5s;
  }
  .main_kv_09 {
    top: calc(50 / 660 * 100vw);
    left: calc(150 / 660 * 100vw);
    width: 50%;
    opacity: 0;
    z-index: 20;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .sttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sttl_text {
    font-size: .8rem;
    color: white;
    font-family: "Audiowide";
    display: inline-block;
    text-align: center;
    z-index: 30;
    opacity: 0;
    position: absolute;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 6.5s;
            animation-delay: 6.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .sttl_text.catch_cp {
    width: 100%;
    font-size: 2.7em;
    color: #866e02;
    text-shadow: 2px 2px 1px white;
    top: calc(170 / 400 * 100vw);
    left: calc(200 / 400 * 100vw);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .sttl_text.s2019 {
    top: calc(200 / 400 * 100vw);
    left: calc(50/ 400 * 100vw);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sttl_text.w2019 {
    top: calc(200 / 400 * 100vw);
    left: calc(170 / 400 * 100vw);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sttl_text.s2020 {
    top: calc(200 / 400 * 100vw);
    right: calc(40 / 400 * 100vw);
    line-height: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  .section-inner {
    padding-top: 40px;
  }
  .section-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-info-left {
    width: 48%;
  }
  .section-info-right {
    width: 48%;
  }
  .section-info.schedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-info.schedule .section-info-left {
    width: 100%;
  }
  .section-info.schedule .section-info-right {
    width: 100%;
  }
  .section-info.match {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .section-subttl {
    font-size: 1.1rem;
  }
  .section-subttl.stadium {
    font-size: 1.8rem;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h3 {
    font-size: 1.2rem;
  }
  .section-adress p {
    font-size: 0.9rem;
  }
  .live-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .live-info-right {
    width: 48%;
  }
  .live-text-item {
    font-size: 0.9rem;
  }
  .live-text-item .information {
    font-size: 0.9rem;
  }
  .live-img-pc {
    display: block;
  }
  .live-img-sp {
    display: none;
    margin: 0 auto;
  }
  #Sponsor {
    background: #fff;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .sponsor-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sponsor-logo a {
    display: block;
    width: 150px;
    margin: 0 20px;
  }
  .sponsor-logo a:nth-child(4) {
    width: 100px;
  }
  .sponsor-logo a:nth-child(5) {
    width: 100px;
  }
  .sponsor-logo a:nth-child(7) {
    width: 120px;
    margin-bottom: 0px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
  .side.left {
    top: -100px;
    left: 650px;
  }
  .side.left.invew {
    top: 60px;
    left: 650px;
  }
  .side.left .side__inner {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  .side.right {
    top: -100px;
    right: 200px;
  }
  .side.right.invew {
    top: 55px;
    right: 200px;
  }
  .side.right .side__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side.right .side__inner a {
    margin-right: 20px;
  }
  .side {
    display: block;
  }
  .sns-item {
    width: 30px;
  }
  .jstf-item {
    width: 170px;
  }
  .slide-item {
    margin: 0 20px;
    padding: 15px;
    margin-bottom: 30px;
  }
  .slide-item:last-child {
    margin-bottom: 0;
  }
  .slide-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide-item-top p {
    text-indent: 0;
  }
  .slide-item-title {
    font-size: 1.5rem;
  }
  .slide-item-img {
    width: 630px;
  }
  .slide-item-info {
    font-size: 0.9rem;
    margin-top: 10px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .live-img-pc {
    display: block;
    width: 100%;
  }
  .live-img-sp {
    display: none;
  }
  .sponsor-logo a {
    display: block;
    width: 280px;
    margin: 0 30px;
  }
  .sponsor-logo a:nth-child(4) {
    width: 140px;
  }
  .sponsor-logo a:nth-child(5) {
    width: 140px;
  }
  .sponsor-logo a:nth-child(7) {
    width: 200px;
    margin-bottom: 0px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
  .slide-item {
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
  }
  .slide-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide-item-top p {
    text-indent: 0;
  }
  .slide-item-top:nth-child(2) h4 span {
    padding-left: 1.5rem;
  }
  .slide-item-top:nth-child(3) h4 span {
    padding-left: 4rem;
  }
  .slide-item-top:nth-child(4) h4 span {
    padding-left: 4rem;
  }
  .slide-item-title {
    font-size: 2rem;
  }
  .slide-item-img {
    width: 700px;
  }
  .slide-item-info {
    font-size: 1rem;
    margin-top: 10px;
  }
  .cm {
    color: gold;
    font-size: 2rem;
  }
  .nd {
    color: silver;
    font-size: 1.8rem;
  }
  .rd {
    color: #815a2b;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .font-gd {
    font-size: 2rem;
  }
  .header_title {
    font-size: 1.7rem;
    line-height: 30px;
  }
  .header_nav_list {
    width: 660px;
  }
  .header_nav_list_item a {
    font-size: 1.3rem;
  }
  .main-area {
    height: 550px;
  }
  .main_kv {
    position: relative;
    height: 550px;
    display: block;
  }
  .sttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sttl_text {
    font-size: 1.2rem;
  }
  .sttl_text.catch_cp {
    width: 100%;
    font-size: 3.5em;
  }
  .sttl_text.s2020 {
    line-height: 20px;
  }
  .live-subttl {
    font-size: 1.4rem;
  }
  .live-text-item {
    margin-top: 10px;
  }
  .live-text-item-m {
    font-size: 1.3rem;
  }
  .live-text-item-w {
    font-size: 1.3rem;
  }
  .live-text-item-s {
    font-size: 1.3rem;
  }
  .live-text-item .information {
    font-size: 17px;
  }
  .section-title {
    font-size: 3rem;
  }
  .section-subttl {
    color: white;
    font-size: 1.5rem;
  }
  .section-subttl-winner {
    font-size: 17px;
  }
  .section-text p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .section-group h4 {
    font-size: 12px;
    color: white;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h3 {
    font-size: 1rem;
  }
  .section-adress p {
    font-size: 0.8rem;
    line-height: 25px;
  }
  details {
    width: 520px;
    margin-bottom: 5px;
  }
  .group {
    width: 520px;
  }
  .group td {
    font-size: 12px;
  }
  .side.left {
    top: -100px;
    left: 1000px;
  }
  .side.left.invew {
    top: 70px;
    left: 1000px;
  }
  .side.left .side__inner {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  .side.right {
    top: -100px;
    right: 200px;
  }
  .side.right.invew {
    top: 65px;
    right: 200px;
  }
  .side.right .side__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side.right .side__inner a {
    margin-right: 20px;
  }
  .sns-item {
    width: 50px;
  }
  .jstf-item {
    width: 200px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .abl {
    position: absolute;
  }
  header {
    position: relative;
  }
  .wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .header_area {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 50;
  }
  .header_area nav {
    position: fixed;
  }
  .header_title {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    font-size: 2rem;
    line-height: 35px;
    color: white;
    font-weight: bold;
    font-family: "Audiowide";
  }
  .header_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 840px;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    list-style: none;
  }
  .header_nav_list_item {
    height: 100%;
  }
  .header_nav_list_item a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    font-size: 1.5rem;
    color: aqua;
    font-family: "Audiowide";
    cursor: pointer;
  }
  .header_nav_list_item a:hover {
    color: red;
  }
  .main-area {
    height: 664px;
  }
  .main_kv {
    position: relative;
    height: 664px;
    display: block;
  }
  .sttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sttl_text {
    font-size: 2rem;
    color: white;
    font-family: "Audiowide";
    display: inline-block;
    text-align: center;
    z-index: 30;
    opacity: 0;
    position: absolute;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 6.5s;
            animation-delay: 6.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .sttl_text.catch_cp {
    width: 100%;
    font-size: 5rem;
    color: #866e02;
    top: 555px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .sttl_text.s2019 {
    top: 650px;
    left: 140px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sttl_text.w2019 {
    top: 650px;
    left: 575px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sttl_text.s2020 {
    top: 650px;
    right: 100px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    line-height: 35px;
  }
  .kv img {
    width: 580px;
  }
  .section-inner {
    height: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .section-info.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-title {
    font-size: 3rem;
    color: white;
  }
  .section-subttl {
    color: white;
    font-size: 2rem;
  }
  .section-text {
    color: white;
    font-size: 1.5rem;
  }
  .section-text p {
    font-size: 1.5rem;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    line-height: 40px;
  }
  .section-adress p {
    font-size: 1.5rem;
    line-height: 35px;
  }
  details {
    width: 590px;
    margin-bottom: 5px;
  }
  details[open] .group {
    -webkit-animation: fadeIn_g 0.5s ease;
            animation: fadeIn_g 0.5s ease;
  }
  @-webkit-keyframes fadeIn_g {
    0% {
      opacity: 0;
      /* 透明 */
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      /* 上から表示 */
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeIn_g {
    0% {
      opacity: 0;
      /* 透明 */
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      /* 上から表示 */
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  .group {
    border: 2px solid #aaa;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #aaa;
    width: 590px;
    table-layout: fixed;
  }
  .group th, .group td {
    padding: 5px 5px;
    vertical-align: middle;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    height: 40px;
  }
  .group th:last-child, .group td:last-child {
    border-right: none;
    width: 60px;
  }
  .group tr:last-child th, .group tr:last-child td {
    border-bottom: none;
  }
  .group td {
    background: #fff;
    font-weight: bold;
    font-size: 12px;
  }
  summary {
    background: red;
    cursor: pointer;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
  }
  .live-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .live-subttl {
    font-size: 2.3rem !important;
  }
  .live-text-item .information {
    width: 500px;
    font-size: 1.3rem;
  }
  .live-text-item-m {
    font-size: 2rem !important;
  }
  .live-text-item-w {
    font-size: 2rem !important;
  }
  .live-text-item-s {
    font-size: 2rem !important;
  }
  .live-img-pc {
    display: block;
  }
  .live-img-sp {
    display: none;
    margin: 0 auto;
  }
  .sp {
    display: none;
  }
  .sponsor-logo a {
    display: block;
    width: 300px;
    margin: 0 30px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
  .side.left {
    top: 270px;
    left: -200px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  .side.left.invew {
    top: 270px;
    left: -60px;
  }
  .side.right {
    top: 270px;
    right: -100px;
  }
  .side.right.invew {
    top: 300px;
    right: 20px;
  }
  .side.right .side__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .sns-item {
    width: 55px;
  }
  .jstf-item {
    width: 300px;
  }
  .slide-item {
    margin: 0 50px;
    padding: 20px;
  }
  .slide-item-title {
    font-size: 2.5rem;
  }
  .slide-item-img {
    width: 800px;
  }
  .slide-item-text {
    font-size: 2rem;
    margin-top: 20px;
  }
  .cm {
    font-size: 2rem;
  }
  .nd {
    font-size: 1.8rem;
  }
  .rd {
    font-size: 1.7rem;
  }
}
/*# sourceMappingURL=style.css.map */