/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.font-gd{
    font-size: 2rem ;
  }

.header{
    
    &_title{//タイトル
       
        font-size: 1.7rem;
        line-height: 30px;
        
    }
    &_nav_list{//ヘッダーナビゲーション
        
        width: 660px;
        
        &_item{
            
            & a{
                font-size: 1.3rem;
            }
        }
    }
  }

.main{
    &-area{
      height: 550px;
    }
  
    &_kv{
      position: relative;
      
      height: 550px;
      display: block;
    }
}
  
.sttl{
    display: flex;
    justify-content: space-around;

    &_text{
        font-size: 1.2rem;
        
        &.catch_cp{
            width: 100%;
            font-size: 3.5em;
            
        }

        &.s2020{
            line-height: 20px;
        }
    }
}

.live{
    
    &-subttl{
      font-size: 1.4rem;
    }
  
    &-text{
      &-item{
        margin-top: 10px;
  
        &-m{
          font-size: 1.3rem;
          
        }
        &-w{
          font-size: 1.3rem;
          
        }
        &-s{
          font-size: 1.3rem;
          
        }
  
        & .information{
          font-size: 17px;
          
        }
      }
    }
}

.section{
    
    &-title{
      font-size: 3rem;
    }
  
    &-subttl{
      color: white;
      font-size: 1.5rem;
      &-winner{
        font-size: 17px;
      }
    }
  
    &-text{
      p{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
    }
    &-group h4{
      font-size: 12px;
      color: white;
    }
  
    &-adress{
      color: $cWhite;
      line-height: 30px;
      h3{
        font-size: 1rem;
      }
      p{
        font-size: 0.8rem;
        line-height: 25px;
      }
    }
}

details{
    width: 460px;
    margin-bottom: 5px;
}

.group {
    width: 460px;
    
    & td{
        font-size: 12px;
    }
}

