/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/


.main{
    &-area{
      height: 550px;
    }
  
    &_kv{
      position: relative;
      
      height: 550px;
      display: block;
    }
  }
  
  .sttl{
    display: flex;
    justify-content: space-around;
    
    &_text{
        font-size: 1.2rem;
        
        &.catch_cp{
          width: 100%;
          font-size: 3.5em;
          
        }
  
        &.s2020{
            line-height: 20px;
        }
    }
  }