/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.live{
  &-img{
    &-pc{
      display: block;
      width: 100%;
    }
    &-sp{
      display: none;
    }

  }
}



.sponsor{
  &-logo{
    
    a{
      display: block;
      width: 280px;
      margin: 0 30px;

      &:nth-child(4){
        width: 140px;
      }
      &:nth-child(5){
        width: 140px;
      }
      // &:nth-child(6){
      //   align-self: center;
      // }
      &:nth-child(7){
        width: 200px;
        margin-bottom: 0px;
      }
    }
  }
  &-item{
    width: 100%;
    margin-top: 30px;

  }
}

.slide{
  &-item{
    display: inline-block;
    margin: 0 20px;
    padding: 15px;

    &-top{
      display: flex;
      align-items: center;
      // justify-content: start;

        p{
          text-indent: 0;
        }

      &:nth-child(2){
        h4{
          & span{
            padding-left: 1.5rem;
          }
        }
      }
      &:nth-child(3){
        h4{
          & span{
            padding-left: 4rem;
          }
        }
      }
      &:nth-child(4){
        h4{
          & span{
            padding-left: 4rem;
          }
        }
      }
    }

    &-title{
        font-size: 2rem;
    }

    &-img{
      width: 700px;
    }

    &-info{
      font-size: 1rem;
      margin-top: 10px;
    }
  }

}

.cm{
  color: gold;
  font-size: 2rem;
}
.nd{
  color: silver;
  font-size: 1.8rem;
}
.rd{
  color: #815a2b;
  font-size: 1.6rem;
}