/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Audiowide","Sawarabi Mincho", 'PT Serif', "Kameron", "Noto Sans JP", sans-serif;
  background: rgb(2,0,28);
  // background: linear-gradient(90deg, rgba(2,0,28,1) 0%, rgba(0,27,39,1) 10%, rgba(0,27,39,1) 21%, rgba(0,38,5,1) 35%, rgba(0,48,1,1) 50%, rgba(0,38,5,1) 65%, rgba(43,0,0,1) 79%, rgba(43,0,0,1) 90%, rgba(22,0,0,1) 100%);
  background: linear-gradient(90deg,rgba(0,27,39,1) 21%, rgba(0,48,1,1) 50%, rgba(43,0,0,1) 79%, rgba(22,0,0,1) 100%);

  padding: 0;
  margin: 0;
  height: auto;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
  padding: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.font-fmA {
  font-family: $Au;
}
.font-fmS {
  font-family: $Sw;
}
.font-fmSg{
  font-family: $Sg;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.font-gd{
  font-size: 1.3rem ;
  color: rgb(243, 240, 92) ;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-lg {
  margin-bottom: 80px;
}
.mt{
  margin-top: 30px;
}
.pb-sm {
  padding-bottom: 16px;
}
.pb-lg {
  padding-bottom: 80px;
}


header{
  position: relative;
}


.wrapper{
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.loading{
img{
  width: 50px;
}
}

.loading.active{
  opacity: 1;
  visibility: visible;
}
@keyframes flashing{
  50%{
    opacity: .5;
  }
}
@keyframes roolling{
  0%{
    transform: rotate(0);
  }
  
  100%{
    transform: rotate(360deg);
  }
}

.loadingText{
  animation: flashing .5s infinite;
  color: rgb(45, 190, 57);
}
.loadingball{
  animation: roolling 1s ease-in-out infinite;
}


// headerここから
.header{
  &_area{
      width: 100%;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 50;

      & nav{
        position: fixed;
      }
  }
  
  &_title{//タイトル
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      font-size: 1rem;
      line-height: 20px;
      color: white;
      font-weight: bold;
      font-family: $Au;
  }
  &_nav_list{//ヘッダーナビゲーション
      display: none;
      width: 650px;
      height: 20px;
      justify-content: space-between;
      flex-wrap: nowrap;
      list-style: none;
      
      
      

      &_item{
          height: 100%;
          
          // &:nth-child(2) a{
          //     color: red;
          //     font-size: 1.7rem;
          //     font-family: $Au;
          // }

          & a{
              text-decoration: none;
              display: block;
              width: 100%;
              height: 100%;
              line-height: 20px;
              font-size: 1.7rem;
              color: aqua;
              font-family: $Au;
              cursor: pointer;
          }
      }
  }
}

//キービジュアル
.abl{
  position: absolute;
}
.main{
  &-area{
    height: 91vh;
  }

  &_kv{
      position: relative;
      
      height: calc(560 / 414 * 100vw);
      display: block;

       &_01{
          top: calc(448 / 414 * 100vw);
          right: calc(0 / 414 * 100vw);
          width: 66%;
          opacity: 0;
          z-index: 5;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 3.5s;
          animation-timing-function: ease-in-out;
       }
       &_02{
          top: calc(480 / 414 * 100vw);
          left: calc(-10 / 414 * 100vw);
          width: 56%;
          opacity: 0;
          z-index: 5;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 4s;
          animation-timing-function: ease-in-out;
       }
       &_03{
          top: calc(400 / 414 * 100vw);
          left: calc(12 / 414 * 100vw);
          width: 88%;
          opacity: 0;
          z-index: 21;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 4.5s;
          animation-timing-function: ease-in-out;
       }
       &_04{
          top: calc(12 / 414 * 100vw);
          left: calc(-220 / 414 * 100vw);
          width: 83%;
          opacity: 0;
          z-index: 4;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 2s;
          animation-timing-function: ease-in-out;
       }
       &_05{
          top: calc(-8 / 414 * 100vw);
          right: calc(9 / 414 * 100vw);
          width: 65%;
          opacity: 0;
          z-index: 6;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 2.5s;
          animation-timing-function: ease-in-out;
       }
       &_06{
          top: calc(0 / 414 * 100vw);
          left: calc(80 / 414 * 100vw);
          width: 67%;
          opacity: 0;
          z-index: 3;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 3s;
          animation-timing-function: ease-in-out;
      }
       &_07{
          top: calc(178 / 414 * 100vw);
          right: calc(0 / 414 * 100vw);
          width: 70%;
          opacity: 0;
          z-index: 6;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 5s;
          animation-timing-function: ease-in-out;
      }
       &_08{
          top: calc(180 / 414 * 100vw);
          left: calc(-130 / 414 * 100vw);
          width: 90%;
          opacity: 0;
          z-index: 5;
          animation-name: fadeIn;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
          animation-delay: 5.5s;
          animation-timing-function: ease-in-out;
       }
       &_09{
          top: calc(150 / 414 * 100vw);
          left: calc(10 / 414 * 100vw);
          width: 93%;
          opacity: 0;
          z-index: 20;
          animation-name: fadeIn;
          animation-duration: 1.2s;
          animation-fill-mode: forwards;
          animation-delay: 6s;
          animation-timing-function: ease-in-out;
       }

       & > img{
         opacity: 1;//imgの表示
       }    
  }
}


// @keyframes fadeIn {
//   0% {
//       opacity: 0;
//   }
//   100% {
//       opacity: 1;
//   }
// }

.sttl{
  display: flex;
  justify-content: space-around;
  
  &_text{
      font-size: .8rem;
      color: white;
      font-family: $Au;
      display: inline-block;
      text-align: center;
      z-index: 30;
      opacity: 1;//whoistheChampionのテキスト
      position: absolute;
      animation-name: fadeIn;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-delay: 6.5s;
      animation-timing-function: ease-in-out;

      &.catch_cp{
        width: 100%;
        font-size: 2.2em;
        color: rgb(134, 110, 2);
        text-shadow: 2px 2px 1px white;
        top: calc(410 / 420 * 100vw);
        left: calc(207 / 414 * 100vw);
        transform: translate(-50%, -50%);
      }

      &.s2019{
          top: calc(700 / 414 * 100vw);
          left: calc(260/ 414 * 100vw);
          transform: translateY(-50%);
      }
      &.w2019{
          top: calc(480 / 414 * 100vw);
          left: calc(10 / 414 * 100vw);
          transform: translateY(-50%);
      }
      &.s2020{
          top: calc(220 / 414 * 100vw);
          right: calc(10 / 414 * 100vw);
          line-height: 15px;
          transform: translateY(-50%);
      }
  }
}

.section{
  &-inner{
    padding-top: 33px;
  }

  &-info{
    display: flex;
    flex-direction: column;

    
    
  }

  &-title{
    // color: #9A1D1D;
    background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
  }

  &-subttl{
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    &-winner{
      font-size: 14px;
      color: red;
    }
  }

  &-text{
    p{
      color: white;
      font-size: 0.9rem;
    }
  }
  &-group h4{
    font-size: 12px;
    color: white;
  }

  &-adress{
    color: $cWhite;
    line-height: 30px;
    h3{
      font-size: 1rem;
    }
    p{
      font-size: 0.8rem;
      line-height: 25px;
    }
  }
}

.pc{//タイムスケジュールpc用のオフ
  display: none;
}

details{
  width: 100%;
  margin-bottom: 5px;
  overflow-x: auto;
}


details[open] .group {
  animation: fadeIn_g 0.5s ease;
}
@keyframes fadeIn_g {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


.group {
  border: 2px solid #aaa;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #aaa;
  width: 570px;
  table-layout: fixed;
  
  
  

  th, td {
    padding: 5px 5px;
    vertical-align: middle;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    height: 40px;
    
    

    &:last-child {
      border-right: none;
      width: 60px;
    }
  }
}


.group tr {
  &:last-child {
    th, td {
      border-bottom: none;
    }
  }
}

// .group th {
//   background: red;
//   color: white;
//   font-size: 16px;
// }

.group td {
  background: #fff;
  font-weight: bold;
  font-size: 15px;
  
}

.live{
  &-info{
    display: flex;
    flex-direction: column;
  }

  &-subttl{
    font-family: $Au;
    font-size: 1.3rem;
    color: white!important; 
  }

  &-img{
    &-pc{
      display: none;
    } 
  }
  &-text{
    &-item{
      margin-top: 10px;

      &-m{
        font-size: 1.2rem;
        color: #47FF2F;
        >span{
          color: white;
        }
      }
      &-w{
        font-size: 1.2rem;
        color: #FF58D9;
        >span{
          color: white;
        }
      }
      &-s{
        font-size: 1.2rem;
        color: #08BDFF;
        >span{
          color: white;
        }
      }

      & .information{
        color: red;
        font-weight: bold;
        font-size: 15px;
        font-family: $Sg;
      }
    }
  }
}
  

summary {
  background: red;
  cursor: pointer;
  padding: 12px;
  outline: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.tn{
  font-size: 13px;
}

.gmap{
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;

    iframe{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

}


#Sponsor{
  background: #fff;
  margin-top: 80px;
  padding-top: 20px;
 
  
}
.sponsor{
  & > h2{
    color: red;
  }
  &-logo{
    display: flex;
    flex-direction: column;
    width: 100%;
    a{
      display: block;
      width: 300px;
      margin: 0 auto;
      

      // &:nth-child(1){
      //   align-self: center;
      // }
      &:nth-child(4){
        width: 180px;
      }
      // &:nth-child(3){
      //   align-self: center;
      // }
      // &:nth-child(4){
      //   align-self: center;
      // }
      &:nth-child(5){
        width: 180px;
      }
      &:nth-child(7){
        width: 250px;
        margin-bottom: 50px;
      }
    }
  }
  &-item{
    width: 100%;
    margin-top: 60px;

  }
}

footer{
  height: 60px;

  & .wrapper{
    text-align: center;
  }

  & small{
    color: white;
    font-size: 0.7rem;
    font-family: 'PT Serif';
    line-height: 60px;
  }
}