/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Audiowide","Sawarabi Mincho", 'PT Serif', "Kameron", "Noto Sans JP", sans-serif;
  background: rgb(2,0,28);
  // background: linear-gradient(90deg, rgba(2,0,28,1) 0%, rgba(0,27,39,1) 10%, rgba(0,27,39,1) 21%, rgba(0,38,5,1) 35%, rgba(0,48,1,1) 50%, rgba(0,38,5,1) 65%, rgba(43,0,0,1) 79%, rgba(43,0,0,1) 90%, rgba(22,0,0,1) 100%);
  background: linear-gradient(90deg,rgba(0,27,39,1) 21%, rgba(0,48,1,1) 50%, rgba(43,0,0,1) 79%, rgba(22,0,0,1) 100%);

  padding: 0;
  margin: 0;
  height: auto;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
  padding: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

#Sponsor{
  background: #fff;
  margin-top: 80px;
  padding-top: 20px;
  
}
.sponsor{
  & > h2{
    color: red;
  }
  &-logo{
    display: flex;
    flex-direction: column;
    a{
      display: block;
      width: 300px;
      margin: 0 auto;
      

      // &:nth-child(1){
      //   align-self: center;
      // }
      &:nth-child(4){
        width: 180px;
      }
      // &:nth-child(3){
      //   align-self: center;
      // }
      // &:nth-child(4){
      //   align-self: center;
      // }
      &:nth-child(5){
        width: 180px;
      }
      &:nth-child(7){
        width: 250px;
        margin-bottom: 50px;
      }
    }
  }
  &-item{
    width: 100%;
    margin-top: 60px;

  }
}

footer{
  height: 60px;

  & .inner{
    text-align: center;
  }

  & small{
    color: white;
    font-size: 0.7rem;
    font-family: 'PT Serif';
    line-height: 60px;
  }
}